*{
  margin: 0;
  padding: 0;
  list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
  .body {
        background-color: rgba(222, 206, 150, 0.35);
        color: #FF00B8;
      }

.header{
  background-image: url("images/homeimg.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.taskbar{
  list-style-type: none;  
  margin: 0;  
  padding: 0px;  
  overflow: hidden;  
  background-color: rgba(222, 206, 150, 0.35);  
}

.taskbar li {  
  float: left;  
}  
  
.taskbar li a {  
  display: block;  
  color: black;  
 font-size:20px;  
  text-align: center;  
  padding: 10px 20px;  
  text-decoration: none;  
}  

.active{  
background-color: rgba(222, 206, 150, 0.35);  
color: white;  
}  

.taskbar li a:hover {  
  background-color: orange;  
  color: white;  
}  
.logo img{
  width: 7%;
  padding-left: 8;
float: center;
  padding-top: 10px;
  border-radius: 0px;
  position: absolute;
  border-radius: 50%;
  margin-left: 85%;
top: 2%;
left: 5%;
}

@media (min-width: 0px) and (max-width: 700px) {
  .logo img{
    width: 25%;
   margin-left: 75%;
   margin-top: 10px;
  }

}

.text-box{
position: absolute;
width: 90%;
color: #fff;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;

}

.text-box h1{
  color: rgba(255, 205, 0, 1);
  font-size: 78px;
  font-family: gothic;
  align-content: center;
  background-color: black;
}


.text-box p{
  font-family: times new roman;
  color: whitesmoke;
  font-size: 20px;
  align-content: center;
   border: 2px solid #fff;
  background-color: black;
  width: 800px;
  margin: auto;

}

@media (max-width: 700px){
  .text-box p{
    font-size: 15px;
width: 350px;
  }


  .hero-btn{
    width: 200px;
    border: 1px solid #fff;
    height: 70px;
  }
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  font-size: 18px;
  background: rgba(255, 205, 0, 1);
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

.hero-btn:hover{
  border: 1px solid white;
  background: black;
  transition: 1s;
  color: white;
}



@media(min-width: 0px) and (max-width: 700px){
  .text-box h1{
    font-size: 50px;
    }

   
}

.main-hero-btn{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 50px 50px;
  font-size: 30px;
  background: rgba(255, 205, 0, 1);
  position: relative;
  cursor: pointer;
  margin-top: 40px;
}

.main-hero-btn:hover{

  background: rgba(255, 0, 0, 1);
  transition: 1s;
  color: black;
}


@media(min-width: 0px) and (max-width: 700px){
  .text-box h1{
    font-size: 50px;
    }

   
}

.items {
  align-content: center;
  padding-left: 40px;
  font-size: 20px;
  border: 5px solid #FFDA00;
  justify-content: center;
  color: black;
}

.items h2{
  font-size: 40px;
  text-align: center;
  color: black;
}
.prices {
  justify-content: center;
  font-size: 15px;
  color: black;
}

.prices p {
  font-size: 20px;
  text-align: center;
  color: black;
}

.prices h1{ 
color:black;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

td, th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFDA00;
  color: black;
}
h3{
  font-size: 20px;
  text-align: center;
  color: black;
}





.btn2{
     width: 28%;
     height: 100%;
     margin: auto;
     font-size: 40px;
     text-align: center;
     align-content: center;
     align-items: center;
     background-color: black;
    border-radius: 10px;
    border: 2px whitesmoke;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: ariel;
  }

.btn2:hover{
  cursor: pointer;
  background-color: #FFDA00;
  color: black;
  border-color: whitesmoke;
}

h1{
  font-size: 50px;
  font-weight: 600;
  color: black;
  text-align: center;
}

p{
  color: #328ca8;
  font-size: 40px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}


@media(max-width: 700px){
  .row{
    flex-direction: column;
  }}

.steps{
  text-align: center;
  border: 20px rgba(0, 128, 0, 0.3);
  border-radius: 10px;
  border-left: 50%;

}

.steps-col{
    color: #6F4E37;
    font-size: 20px;
}

.steps p{
  font-size: 20px;
  color: #6F4E37;
}




@media (max-width: 700px){
  .layer p{
    font-size: 13px;

  }
  .layer button{
    margin-top: 10px;
  }

}

.layer:hover p{
  bottom: 49%;
  opacity: 3;
}




.box {
  width: 40%;
  margin: 0 auto;
  padding: 35px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 13px;
  padding: 20px;
  color: whitesmoke;
  border: 2px solid #328ca8;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-align: center;
}
.button:hover {
  background: #328ca8;
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 40px;
  background: #f5f5dc;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #317873;
  text-align: center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #6F4E37;
}
.popup .close:hover {
  color: black;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
  font-size: 20px;
  color: black;
}




.disclaimer p{
  font-size: 25px;
  text-align: center;
  width: 800px;
  margin: auto;
   border: 4px solid black;
   color: black;
}

@media (max-width: 700px){
  .disclaimer p{
    width: 300px;
  }
}



.socialmedia i{
  color: black;
  font-size: 40px;
  margin-left: 15%;
}

@media(max-width: 700px){
.socialmedia i{
  margin-left: 8%;
}
.disclaimer p{
  font-size: 18px;
}

}

.socialmedia svg{
  color: black;
  font-size: 40px;
  margin-left: 15%;
}

.socialmedia path{
  color: black;
  font-size: 60px;
  margin-left: 15%;
} 

@media(max-width: 700px){
.socialmedia svg{
  margin-left: 8%;
}
}

@media(max-width: 700px){
.socialmedia path{
  margin-left: 8%;
}

}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}


.whyus h1{
  font-size: 60px;
  text-align: center;
  color: black;
}

.whyus h3{
  font-size: 25px;
  color: black;
  margin-top: 6px;
  text-align: center;
}
.whyus i{
  font-size: 40px;
  color: #FFDA00;
  text-align: r;
  margin-top: 3px;
  margin: auto;
  padding-left: 300px;
  padding-bottom: 10px;
}

.whyus p{
  font-size: 20px;
  color: black;
  width: 600px;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

@media (max-width: 700px){
  .whyus p{
     font-size: 15px;
     width: 300px;
  }
  .prices h3{
    font-size: 10px;
     width: 200px;
  }
}

.prices h3{
  font-size: 20px;
  text-align: center;
  color: #317873;
  border: 1px solid #317873;
  width: 400px;
  margin: auto;
}
